Options +FollowSymlinks
RewriteEngine On
php_value memory_limit 128M
php_value max_execution_time 259200
php_value upload_max_filesize 64M
php_value post_max_size 200M


# RewriteBase /amen_de/

# RewriteCond %{SERVER_NAME} localhost
# RewriteRule ^(.*)$ /static%{DOCUMENT_ROOT}


# RewriteCond %{DOCUMENT_ROOT} !-f
# RewriteRule ^.*$ /static/$0
# Does the file exist in the content folder?
#
# RewriteCond %{DOCUMENT_ROOT}/amen_de/static/%{REQUEST_URI} -f

# RewriteRule ^(.*)$ static/img/alarm.png [NC]


# Rewrite php-files that does not exist (because they lay in path 'controller/' instead of '/')
RewriteCond %{REQUEST_FILENAME} ^(.+)\.[a-zA-Z]+$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^(.+)$ framework.php?frameworkController=$1&%1 [NC]

# Rewrite all path accesses to their index.php-controller
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^(.*/)*$ framework.php?frameworkController=$1index.php&%1 [NC]


#AuthUserFile /www/htdocs/w00d0936//apps/gebet/beta//.htpasswd
#AuthGroupFile /dev/null
#AuthName ByPassword
#AuthType Basic
#require valid-user
